html, body {
    background-color: #c0d6df;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* ปิดการเลื่อน */
}

.btn-custom{
    background-color:#4a6fa5;
    color:white
}

.btn-custom:hover{
    background-color: #166088;
    color:white
}

