html, body {
    background-color: #e2f7ff;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* ปิดการเลื่อน */
}

.btn-custom{
    background-color: rgb(71, 128, 243);
    color:white
}

.btn-custom:hover{
    background-color: rgb(37, 71, 145);
    color:white
}

