html, body {
    background-color: #eeffe7;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* ปิดการเลื่อน */
}

.btn-custom{
    background-color:rgb(10, 181, 33);
    color:white
}

.btn-custom:hover{
    background-color: rgb(2, 67, 25);
    color:white
}

